@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #6b7280;
  --color-accent: #06b6d4;
  --color-accent-dark: #0891b2;
  --color-bg: #f7fafb;
  --color-card: #ffffff;
  
  --font-sans: "Inter", "ui-sans-serif", "system-ui", "sans-serif";
  --font-serif: "Playfair Display", "serif";
}

@layer base {
  body {
    @apply bg-bg text-primary;
  }
}
