@import "tailwindcss";

@theme {
  --color-primary: #433422;
  --color-secondary: #786C5E;
  --color-accent: #C19A6B;
  --color-accent-dark: #A07F55;
  --color-bg: #F2EFE9;
  --color-card: #ffffff;
  
  --font-sans: "Inter", "ui-sans-serif", "system-ui", "sans-serif";
  --font-serif: "Playfair Display", "serif";
  --font-cinzel: "Cinzel Decorative", "serif";
}

@layer base {
  body {
    @apply bg-bg text-primary;
  }
}
